/** @define utilities */

.u-pc {
  @media (--screen-sm-max) {
    display: none !important;
  }
}

.u-mobile {
  @media (--screen-xs-min) {
    display: none !important;
  }
}

.u-tablet {
  @media (--screen-sm-min) {
    display: none !important;
  }
}

.u-plain-button {
  background: none;
  border: none;
}

.u-position-left {
  margin-right: var(--grid-margin);
}

.u-position-right {
  margin-left: var(--grid-margin);
}

.u-list-bullets {
  padding-left: 20px;
  list-style: initial;
}

.u-filter {
  &--blur { filter: blur(4px); }
  &--sepia { filter: sepia(0.8); }
}

.u-center-vertical {
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50);
}

.u-flex-centre {
  height: 100%;

  @apply --flex-layout;
}

.u-text-link {
  font-weight: var(--font-weight-medium);
  color: inherit;
  text-decoration: underline !important;

  &:hover {
    color: var(--colour-primary);
    text-decoration: none !important;
  }

  &--coloured { color: var(--colour-secondary); }
}

.u-text-hover-link {
  &:hover { text-decoration: underline !important; }
}

.u-text-height-unset { height: unset; }

.u-text-center { text-align: center; }
.u-text-right { text-align: right; }
.u-text-left { text-align: left; }
.u-text-underline { text-decoration: underline; }
.u-text-large { font-size: 1.167rem; }
.u-italic { font-style: italic; }

.u-text1 {
  font-size: var(--font-size-text1);

  @media (--screen-xs-max) {
    font-size: var(--font-size-text1-mobile);
  }
}

.u-text3 {
  font-size: var(--font-size-text3);

  @media (--screen-xs-max) {
    font-size: var(--font-size-text3-mobile);
  }
}

.u-text-not-ready {
  text-decoration-line: line-through;
  pointer-events: none;
}

.u-text-hide {
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
}

.u-hidden {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  text-indent: -9999px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.u-grid {
  /* stylelint-disable-next-line at-rule-no-unknown */

  /* @mixin --grid; */

  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--grid-gutter-space);
  justify-content: space-between;
  width: 100%;

  /* max-width: var(--layout-max-width); */
  padding: 0 var(--grid-gutter-space-half);
  margin-right: auto;
  margin-left: auto;

  @media (--screen-sm-max) {
    grid-template-columns: repeat(8, 1fr);
    padding: 0 var(--grid-gutter-space-s);
  }

  @media (--screen-xs-max) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.u-flex { display: flex; }
.u-flex-end { align-items: flex-end; }
.u-flex-center { align-items: center; }
.u-space-between { justify-content: space-between; }
.u-space-around { justify-content: space-around; }
.u-align-self-bottom { align-self: flex-end; }

.u-button-first { margin-right: 1rem; }
.u-icon-left { margin-right: 8px; }
.u-icon-right { margin-left: 8px; }

.u-font-primary { font-family: var(--font-primary); }
.u-font-secondary { font-family: var(--font-secondary); }
.u-colour-primary { color: var(--colour-primary) !important; }
.u-colour-secondary { color: var(--colour-secondary) !important; }
.u-colour-success { color: var(--colour-green) !important; }
.u-colour-error { color: var(--colour-error) !important; }
.u-colour-warning { color: var(--colour-warning) !important; }
.u-colour-white { color: #fff; }
.u-size-h1 { font-size: var(--font-size-h1); }
.u-inline { line-height: 1; }
.u-prevent-shrink { flex-shrink: 0; }

.u-outlined-light-button-hover:hover {
  background-color: rgb(255 255 255 / 15%) !important;
}

.u-mt-l {
  margin-top: var(--space-content-l) !important;

  @media (--screen-xs-max) {
    margin-top: var(--space-content-m) !important;
  }
}

.u-mt-m {
  margin-top: var(--space-content-m) !important;

  @media (--screen-xs-max) {
    margin-top: var(--space-content-s) !important;
  }
}

.u-mt-s {
  margin-top: var(--space-content-s) !important;

  @media (--screen-xs-max) {
    margin-top: var(--space-content-xs) !important;
  }
}

.u-mt-xs {
  margin-top: var(--space-content-xs) !important;

  @media (--screen-xs-max) {
    margin-top: 8px !important;
  }
}

.u-mb0 { margin-bottom: 0; }

.u-mb-l {
  margin-bottom: var(--space-content-l) !important;

  @media (--screen-xs-max) {
    margin-bottom: var(--space-content-m) !important;
  }
}

.u-mb-m {
  margin-bottom: var(--space-content-m) !important;

  @media (--screen-xs-max) {
    margin-bottom: var(--space-content-s) !important;
  }
}

.u-mb-s {
  margin-bottom: var(--space-content-s) !important;

  @media (--screen-xs-max) {
    margin-bottom: var(--space-content-xs) !important;
  }
}

.u-mb-xs {
  margin-bottom: var(--space-content-xs) !important;

  @media (--screen-xs-max) {
    margin-bottom: 8px !important;
  }
}

.u-mb-text-s {
  margin-bottom: var(--space-xs) !important;
}