---
import LeadButton from '@/components/LeadButton.astro';
---

<section class="c-section intro u-grid">
  <project class="project-what">
    <header class="c-section__header">
      <h2 class="c-section__title" data-splitting="true" data-stagger="0.03">
        <strong>/</strong> Why am I doing it?
      </h2>
    </header>

    <div class="content">
      <p class="text" data-animation="fadeIn">
        In the age of big tech I want to gain tech autonomy. 
      </p>
    </div>

    <div class="button-container" data-animation="fadeUp">
      <LeadButton href="/projects/sustainable-digital-commerce-manifesto/">
        Read my recent project about my <br />menstrual cycle tracker
      </LeadButton>
    </div>
  </project>

  <project class="project-why" data-animation="fadeIn">
    <header class="c-section__header">
      <h2 class="c-section__title" data-splitting="true" data-stagger="0.03">
        <strong>/</strong> my current focus?
      </h2>
    </header>

    <div class="c-section__content content">
      <div class="item" data-animation="fadeUp">
        <span class="number">1</span>
        Cybersecurity
      </div>

      <div class="item" data-animation="fadeUp" data-delay="0.2">
        <span class="number">2</span>
        Python
      </div>

      <div class="item" data-animation="fadeUp" data-delay="0.4">
        <span class="number">3</span>
        Linux
      </div>
    </div>
  </project>
</section>

<style lang="postcss">
.intro {
  padding-bottom: 0;

  @media (--screen-tb-max) {
    padding-bottom: 40px;
  }

  .c-section {
    &__title {
      max-width: none;
      margin-bottom: 24px;

      @media (--screen-tb-max) {
        margin-bottom: 0;
      }
    }
  }
}

.header {
  grid-column: 1 / 3;
}

.text {
  align-self: flex-end;
  max-width: 100%;
  margin-bottom: 0;
  font-size: var(--font-size-l);
  line-height: 1.2;

  @media (--screen-mc-max) {
    font-size: var(--font-size-m);
  }

  @media (--screen-tb-max) {
    margin-bottom: 16px;
  }

  @media (--screen-xs-max) {
    font-size: var(--font-size-l-mobile);
  }
}

.content {
  display: flex;
  grid-column: 5 / 13;
  gap: 24px;
  max-width: 800px;

  @media (--screen-tb-max) {
    grid-column: 1 / 9;
  }

  @media (--screen-xs-max) {
    grid-column: 1 / 5;
  }
}

.item {
  display: flex;
  gap: 24px;
  align-items: center;
  font-size: var(--font-size-l);

  @media (--screen-mc-max) {
    font-size: var(--font-size-m);
  }

  @media (--screen-xs-max) {
    font-size: var(--font-size-l-mobile);
  }
}

.number {
  display: inline-block;
  flex-shrink: 0;
  width: 0.6em;
  font-size: 120px;
  line-height: 0.9;
  text-align: center;

  @media (--screen-mc-max) {
    font-size: 104px;
  }

  @media (--screen-xs-max) {
    font-size: 96px;
  }
}

.button-container {
  align-self: flex-end;
  margin-top: 40px;
  
  @media (--screen-tb-max) {
    margin-top: 16px;
  }
}

.project-what {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;

  @media (--screen-sm-max) {
    grid-column: 1 / 4;
  }
}

.project-why {
  position: relative;
  grid-column: 7 / 12;
  padding-bottom: 16px;
  margin-top: 15vh;
  opacity: 1;

  @media (--screen-sm-max) {
    grid-column: 5 / 9;
  }

  @media (--screen-tb-max) {
    padding-bottom: 4px;
    margin-top: 38px;
  }

  /* &::before {
    position: absolute;
    bottom: 0;
    left: calc(var(--grid-gutter-space) * -1);
    width: 1px;
    height: 0;
    content: "";
    background-color: var(--colour-contrast);
    transition: height 0.4s;
  }

  &.is-passed {
    &::before {
      height: calc(100% - 56px);
    }
  } */
}
</style>
